.table {
	margin-top: 20px;
	overflow: scroll;
	margin-left: 10px;
	color: #e2e2e2;
	background-color: #272b38;
	height: 400px;
}

.table::-webkit-scrollbar {
	display: none;
}

.table tr {
	display: flex;
	justify-content: space-between;
}

.table td {
	padding: 0.5rem;
	border: none;
}

.table {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.table tr:nth-of-type(odd) {
	background-color: #191f2c;
}
